[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = AnubisX
	email = 126345582+AnubisXl@users.noreply.github.com
